type project
owners
    Jet.com
authors
    Jet.com
projectUrl
    http://github.com/jet/sagan
iconUrl
    https://raw.githubusercontent.com/jet/kafunk/master/docs/files/img/logo.png
licenseUrl
    http://github.com/jet/sagan/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2017
tags
    cosmos
summary
    F# client for Cosmos DB
description
    Description not set


